<div class="container">
  <div class="row">
    <div class="col">
      <div class="h1">Posts</div>
    </div>
  </div>
  <div *ngFor="let post of posts" class="row border my-2 rounded">
    <div class="col">
      <div class="row my-1">
        <div class="col">
          <div class="h5">{{ post.title }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>Author: {{ getProfileName(post.authorId) }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hr"></div>
  <div class="row mt-3">
    <div class="row">
      <div class="col">
        <div class="h4">Create a New Post</div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col mt-1">
          <form [formGroup]="newPostForm" (ngSubmit)="createPost()">
            <div class="row">
              <div class="col">
                <label for="post-title" class="form-label"> Post Title* </label>
                <input
                  type="text"
                  class="form-control"
                  id="post-title"
                  formControlName="title"
                />
                <div
                  *ngIf="getFormControl('title').errors?.['required'] && getFormControl('title').touched"
                  class="error-text ml-2"
                >
                  Please provide a title.
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-6">
                <select class="form-select" formControlName="authorId">
                  <option [ngValue]="null" disabled>Choose your profile</option>
                  <option *ngFor="let prf of profiles" [ngValue]="prf.id">
                    {{ prf.name }}
                  </option>
                </select>
                <div
                  *ngIf="getFormControl('authorId').errors?.['required'] && getFormControl('authorId').touched"
                  class="error-text ml-2"
                >
                  Please select an author
                </div>
              </div>
              <div class="col-6">
                <input type="submit" class="btn btn-primary" value="Submit" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
